{% assign title_downcase = page.title | downcase %}
<div class="index-container">
    {% for collection in site.collections  %}
        {% if collection.label == title_downcase %}
            {% for doc in collection.docs %}
                <div class="article-index-container">
                    <div class="thumbnail-container">
                        <h1>{{ doc.title }}{{ forloop.index }}</h1>
                        <img src="{{ site.baseurl }}{{ doc.thumbnail }}" alt="">
                    </div>
                    {% if page.has-excerpt %}
                        <p class="excerpt">{{ page.excerpt }}</p>
                    {% endif %}
                </div>
            {% endfor%}
        {% endif %}
    {% endfor %}
</div>
