{% assign content_json = page.content | jsonify %}
{% assign carousel_id = page.title | slugify | append: '-carousel' %}
<div id="{{ carousel_id }}" class="carousel-container">
    <div class="carousel-and-buttons">
        <div class="carousel">
        </div>
        <div class="button-container">
            <div class="carousel-button previous"></div>
            <div class="carousel-button next"></div>
        </div>
    </div>

    <div class="article-info">
        <div class="info">
            <div class="title">
                <p >{{ page.title | upcase}}</p>
            </div>
            <div class="more">
                <p> MORE </p>
                <div class="plus">
                    <img src="{{ site.baseurl }}/assets/utility/plus.svg">
                </div>
            </div>
            <p class="image-num"></p>
        </div>
        <div class="excerpt">
            <div class="text"> {{ page.content | strip_html | truncatewords: 85 }}</div>
            <br>
            <div class="read-more"><a href="{{ site.baseurl }}{{ page.url }}"><p>READ MORE...</p></a></div>
        </div>
    </div>
</div>

<script>
    // extracts img path from page content then appends img to carousel
    $.each('{{ content_json }}'.match(/src="(.*)\.jpg"/g).map(path =>
        path.slice(5, path.length - 1)), function(i, val) {
            $(`#{{ carousel_id }}`).find('.carousel').append(`<div
            class="carousel-cell"><img src="'{{ site.baseurl }}'${val}"></div>`)
        });
</script>
