<div class="footer-container">
    <footer>
        <div class="social-links">
            <div class="social-link">
                <i class="fas fa-at"></i>
                <a href="mailto:jadeaudreyking@gmail.com">jadeaudreyking@gmail.com</a>
            </div>
            <div class="social-link">
                <i class="fab fa-instagram"></i>
                <a href="https://instagram.com/jade.ming">jade.ming</a>
            </div>
            <div class="social-link">
                <i class="fab fa-twitter"></i>
                <a href="https://twitter.com/jadeaudreyking">jadeaudreyking</a>
            </div>
        </div>
    </footer>
</div>
