<footer>
    <div class="social-links">
        <div class="social-link">
            <i class="fab fa-instagram"></i>
            <p><a href="https://instagram.com/jade.ming">jade.ming</a></p>
        </div>
        <div class="social-link">
            <i class="fas fa-at"></i>
            <p><a href="https://twitter.com/jadeaudreyking">jadeaudreyking</a></p>
        </div>
        <div class="social-link">
            <i class="fab fa-twitter"></i>
            <p><a href="mailto:jadeaudreyking@gmail.com">jadeaudreyking@gmail.com</a></p>
        </div>
    </div>
</footer>
