<div class="footer-container">
    <footer>
        <div class="social-links">
            <div class="social-link">
                <a href="mailto:jadeaudreyking@gmail.com">
                    <i class="fas fa-envelope"></i>
                </a>
            </div>
            <div class="social-link">
                <a href="https://instagram.com/jade.ming">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
            <div class="social-link">
                <a href="https://twitter.com/jadeaudreyking">
                    <i class="fab fa-twitter"></i>
                </a>
            </div>
        </div>
    </footer>
</div>
