<div class="navigation">
    <div class="nav-container">
        <div class="brand">
            <h3><a href="{{ site.url }}{{ site.baseurl }}">{{site.title }}</a></h3>
        </div>
        <ul class="nav-links">
            {% for site_page in site.pages %}{% if site_page.title %}
                    {% assign title_downcase = site_page.title | downcase %}
                    <li class="nav-link "><a href="{{ site_page.url }}" {% if
                                page.url contains title_downcase %}
                                class="current" {% endif %}>{{ site_page.title |
                            upcase }}</a></li>
            {% endif %}{% endfor %}
        </ul>
    </div>
</div>

