body {
  margin: 0;
  color: $font-color;
  font-family: $font-style;
  font-size: 1.1em;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3 {
  font-weight: 600;
  color: $heading-font-color;
  font-family: $heading-font;
  line-height: 1.5;
  margin: 0;
}
h1 {
  font-size: 2.5em;
  a,
  a:visited {
    text-decoration: none;
  }
}
h2 {
  font-size: 2em;
}
a,
a:visited {
  color: $link-color;
  text-decoration: underline;
}
a:hover {
  color: $link-hover-color;
  text-decoration: underline;
}
main {
    position: relative;
    padding: ($nav-height + ($padding-1 * 2)) 15px 0;
    padding-bottom: $nav-height;
    margin: 0 auto;
    min-height: 100vh;
    max-width: $content-width;
}
.container {
  max-width: $content-width;
  margin: 0 auto;
}

/* Nav */

.navigation {
    height: $nav-height; 
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    width: 100%;
    z-index: 2;
    border-bottom: 1.5px solid $light;
    // box-shadow: 0px 1px 1px RGBA(4, 25, 54, 0.1);
    .nav-container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: $content-width;
        margin: 0 auto;
        .brand h3 {
            font-family: $font-style;
            margin: 0;
            padding: 0 $padding-1;
            a {
                text-decoration: none;
            }
        }
        .nav-links {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
                display: inline;
                padding: 0 8px;
                a {
                    text-decoration: none;
                    &:hover,
                    &:active {
                        text-decoration: none;
                    }
                }
                &:last-child {
                    padding: 0 $padding-1 0  8px;
                }
            }
        }
    }
}

/* Footer */

.footer-container {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    margin-top: $padding-1 * 2;
    width: 100%;
    height: $nav-height;
    border-top: 1.5px solid $light;
    footer {
        max-width: $content-width;
        // padding: $padding-1 * 2;
        margin: 0 auto;
        .social-links {
            display: flex;
            // justify-content: space-around;
            .social-link {
                display: flex;
                align-items: center;
                margin: 0 $padding-1;
                i {
                    color: darken($light, 50%);
                    padding-top: 4px;
                }
                a {
                    color: $link-hover-color;
                    text-decoration: none;
                    font-size: 1rem;
                    padding: 0 8px;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

/* Circular Index */

.circular-index-container {
    margin-bottom: $padding-1 * 2;
    h1 {
        margin: $padding-1 / 2;
        text-align: center;
    }
    .thumbnail-container {
        width: 200px;
        height: 200px;
        margin: 0 auto;
        img {
            width: 100%;
            height: auto;
            border-radius: 50%;
            border: 1.5px solid black;
        }
    }
}
