body {
    position: relative;
    z-index: -1;
    margin: 0;
    color: $font-color;
    font-family: $font-style;
    font-size: 1.1em;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}
h1,
h2,
h3 {
    font-weight: 600;
    color: $heading-font-color;
    font-family: $heading-font;
    line-height: 1.3;
}
h1 {
    font-size: 2.5em;
    a,
    a:visited {
        text-decoration: none;
    }
}
h2 {
    font-size: 2em;
}
a,
a:visited {
    color: $link-color;
    text-decoration: underline;
}
a:hover {
    color: $link-hover-color;
    text-decoration: underline;
    cursor: pointer;
    // cursor: crosshair;
}
img {
    width: 100%;
    height: auto;
}
main {
    position: relative;
    z-index: -1;
    padding: ($nav-height + ($padding-1 * 2)) 15px 0;
    padding-bottom: $nav-height;
    margin: 0 auto;
    min-height: 100vh;
    max-width: $content-width;
}
.container {
    max-width: $content-width;
    margin: 0 auto;
}

/* Nav */

.navigation {
    height: $nav-height; 
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    width: 100%;
    z-index: 0;
    border-bottom: 1.5px solid $light;
    // box-shadow: 0px 1px 1px RGBA(4, 25, 54, 0.1);
    .nav-container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: $content-width;
        margin: 0 auto;
        .brand h3 {
            font-family: $font-style;
            margin: 0;
            padding: 0 $padding-1;
            a {
                color: $heading-font-color;
                text-decoration: none;
            }
        }
        .nav-links {
            margin: 0;
            list-style: none;
            li {
                display: inline;
                a {
                    margin: 0 4px;
                    padding: 0;
                    text-decoration: none;
                    &:hover,
                    &:active,
                    &.current {
                        color: black;
                        text-decoration: none;
                        border-bottom: 2px solid black;
                    }
                }
                &:last-child {
                    a {
                        margin: 0 $padding-1 0 4px;
                    }
                }
            }
        }
    }
}

/* Footer */

.footer-container {
    position: absolute;
    bottom: 0;
    left: calc(((100vw - 100%) / 2) * -1);
    display: flex;
    align-items: center;
    margin-top: $padding-1 * 2;
    width: 100vw;
    height: $nav-height;
    border-top: 1.5px solid $light;
    footer {
        max-width: $content-width;
        margin: 0 auto;
        .social-links {
            display: flex;
            .social-link {
                display: flex;
                align-items: center;
                margin: 0 $padding-1;
            }
        }
    }
}

/* Circular Index */

.circular-index-container {
    h2 {
        text-align: center;
    }
    .thumbnail-container {
        position: relative;
        top: 0px;
        width: 200px;
        height: 200px;
        margin: 0 auto;
        border-radius: 50%;
        border: 1.5px solid black;
        box-shadow: 0px 0px 0px lightgray;
        margin-top: $padding-1;
        margin-bottom: $padding-1 * 3;
        transition: top 0.1s, 
                    box-shadow 0.1s,
                    width 0.1s, 
                    height 0.1s,
                    margin-bottom 0.1s;
        &:hover {
            top: -2px;
            box-shadow: 0px 10px 10px lightgray;
            width: 204px;
            height: 204px;
            margin-bottom: (($padding-1 * 3) - 4px);
        }
        img {
            filter: contrast(280%);
            filter: grayscale(100%);
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }
}

/* Article Index */

.article-index-container {
    width: $content-width;
    height: 400px;
    .thumbnail-container {
        position: relative;
        width: 75%;
        min-width: 400px;
        height: 100%;
        h1 {
            color: white;
            position: relative;
            z-index: 1;
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

/* Carousel */

.carousel-container{
        margin-bottom: $padding-1 * 2;
        .carousel-and-buttons {
            position: relative;
            .carousel {
                .carousel-cell {
                    width: 100%;
                    height: 0;
                    padding-bottom: 61.8%; /* 16:9 */
                    position: relative;
                    img {
                        position: absolute;
                        top: 0; left: 0;
                        width: 100%; 
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
            .button-container {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                width: 100%;
                height: 0;
                padding-bottom: 61.8%; /* 16:9 */
                display: flex;
                .carousel-button {
                    width: 50%;
                    padding-bottom: 61.8%; /* 16:9 */
                    &.next {
                        cursor: url('../images/next_arrow.png'), auto;
                    }
                    &.previous {
                        cursor: url('../images/prev_arrow.png'), auto;
                    }
                }
            }
        }
    .article-info {
        .info {
            margin-bottom: 0px;
            transition: margin-bottom 0.5s;
            &.active {
                margin-bottom: $padding-1;
            }
            p {
                padding: 4px 0;
            }
            height: 42px;
            padding: 10px 0;
            position: relative;
            display: flex;
            justify-content: space-between;
            .title {
                &:hover {
                    cursor: pointer;
                    p {
                        border-bottom: 2px solid black;
                    }
                }
            }
            .more {
                display: flex;
                position: absolute;
                left: 50%;
                &:hover {
                    cursor: pointer;
                    p {
                        border-bottom: 2px solid black;
                    }
                }
                p {
                    margin-right: 8px;
                }
                .plus {
                    &:hover {
                        cursor: pointer;
                    }
                        padding: 4px 0;
                    img {
                        height: 14px;
                        width: 14px;
                        transition: 0.5s ease-in-out;
                        &.active {
                            transform: rotate(45deg);
                        }
                    }
                }
            }
        }
        .excerpt {
                height: 0em;
                overflow: hidden;
                transition: height 0.5s;
                line-height: $p-line-height;
                display: -webkit-box;
                -webkit-line-clamp: $excerpt-line-clamp + 5;
                -webkit-box-orient: vertical;
                &.active {
                    height: $excerpt-line-clamp + 5 * $p-line-height;
                }
            .text {
                &:hover {
                    cursor: pointer;
                }
                text-align: justify;
                line-height: $p-line-height;
                overflow: hidden;
                text-overflow: ellipsis;
                height: 0em;
                transition: height 0.5s;
                display: -webkit-box;
                -webkit-line-clamp: $excerpt-line-clamp;
                -webkit-box-orient: vertical;
                &.active {
                    height: $excerpt-line-clamp * $p-line-height;
                }
            }
            .read-more {
                a {
                    text-decoration: none;
                    p {
                        display: inline;
                        line-height: 1em;
                        padding: 4px 0;
                    }
                    &:hover {
                        cursor: pointer;
                        p {
                            border-bottom: 2px solid black;
                        }
                    }
                }
            }
        }
    }
    .article-info p {
        margin: 0;
        padding: 0;
    }
} 
.flickity-button {
    display: none;
}
.flickity-page-dots {
    display: none;
}

/* article */

.heading {
    h1 {
        line-height: 1.3em;
    }
    .date {
        color: $link-color;
        line-height: 1em;
        padding: 16px 0;
        margin: 0;
        font-size: 0.8em;
    }
    .line {
        border-bottom: 1.5px solid $link-color;
    }
}
.article-container {
    .article-text {
        text-align: justify;
        line-height: $p-line-height;
        margin-top: $padding-1 * 2;
        margin-bottom: $padding-1 * 3;
        p>img {
            margin: 16px 0;
        }
    }
    .banner {
        width: 1500px;
        position: fixed;
        top: 60px;
        left: 0;
        z-index: -3;
        .img {
            width: 100%;
            height: auto;
        }
    }
    .overlay {
        background-color: white;
        width: 1500px;
        height: 100vh;
        position: fixed;
        top: 60px;
        left: 0;
        z-index: -2;
        opacity: 0.95;
    }
}
.filtered {
    background: black;
}
.filtered img {
    mix-blend-mode: screen;
    -webkit-filter: grayscale(100%) contrast(130%);
    filter: grayscale(100%) contrast(130%);
    opacity: 1;
}

/* Comic */

.comic-container {
    margin-bottom: $padding-1 * 2;
}
