body {
    position: relative;
    z-index: -1;
    margin: 0;
    color: $font-color;
    font-family: $font-style;
    font-size: 1.1em;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}
h1,
h2,
h3 {
    font-weight: 600;
    color: $heading-font-color;
    font-family: $heading-font;
    line-height: 1.3;
}
h1 {
    font-size: 2.5em;
    a,
    a:visited {
        text-decoration: none;
    }
}
h2 {
    font-size: 2em;
}
a,
a:visited {
    color: $link-color;
    text-decoration: underline;
}
a:hover {
    color: $link-hover-color;
    text-decoration: underline;
    cursor: pointer;
    // cursor: crosshair;
}
p {
    line-height: 1.3em;
}
img {
    width: 100%;
    height: auto;
}
main {
    position: relative;
    z-index: -1;
    // padding: ($nav-height + ($padding-1 * 2)) 15px 0;
    padding: $nav-height 15px 0;
    padding-bottom: $nav-height;
    margin: 0 auto;
    min-height: 100vh;
    max-width: $content-width;
}
.container {
    max-width: $content-width;
    margin: 0 auto;
}

/* Landing Page */
.landing-image {
    width: 100%;
    height: calc(100vh - 120px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Nav */

// .navigation {
//     height: $nav-height; 
//     position: fixed;
//     top: 0;
//     left: 0;
//     background: #fff;
//     width: 100%;
//     z-index: 0;
//     box-shadow: 0 0 0px rgba(0,0,0,0.4);
//     transition: box-shadow 0.2s;
//     &.active {
//         box-shadow: 0 0 10px rgba(0,0,0,0.4);
//     }
//     .nav-container {
//         height: 100%;
//         display: flex;
//         align-items: center;
//         justify-content: space-between;
//         max-width: $content-width;
//         margin: 0 auto;
//         .brand h3 {
//             font-family: $font-style;
//             margin: 0;
//             padding: 0 $padding-1;
//             a {
//                 color: $heading-font-color;
//                 text-decoration: none;
//             }
//         }
//         .nav-links {
//             margin: 0;
//             list-style: none;
//             li {
//                 display: inline;
//                 a {
//                     margin: 0 4px;
//                     padding: 0;
//                     text-decoration: none;
//                     &:hover,
//                     &:active,
//                     &.current {
//                         color: black;
//                         text-decoration: none;
//                         border-bottom: 2px solid black;
//                     }
//                 }
//                 &:last-child {
//                     a {
//                         margin: 0 $padding-1 0 4px;
//                     }
//                 }
//             }
//         }
//     }
// }

.navigation{
    height: $nav-height;
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    // border-bottom: 1.5px solid $light;
    box-shadow: 0 0 0px rgba(0,0,0,0.4);
    transition: box-shadow 0.2s;
    &.active {
        box-shadow: 0 0 10px rgba(0,0,0,0.4);
    }
}
.brand {
    position: absolute;
    float: left;
    padding-left: 15px;
    font-size: 1.4em;
    line-height: $nav-height;
    a {
        color: black;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}
.nav-container {
    margin: 0 auto;
    max-width: $content-width;
}
nav {
    float: right;
    ul {
        display: none;
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            float: left;
            position: relative;
        }
        a {
            padding: 21px 0 4px;
            display: block;
            text-decoration: none;
            // line-height: $nav-height;
            &:hover,
            &:active,
            &.current {
                color: black;
                text-decoration: none;
                border-bottom: 2px solid black;
            }
            &:last-child {
                margin-right: 15px;
            }
        }
    }
}

.nav-mobile {
    z-index: 1;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    height: $nav-height;
    width: $nav-height;
}
@media screen and (min-width: $breakpoint) {
    .nav-links {
        display: block !important;
    }
}
@media only screen and (max-width: $breakpoint) {
    .nav-mobile {
        display: block;
    }
    nav {
        background-color: white;
        width: 100%;
        margin: $nav-height 0 15px;
        ul {
            display: none;
            box-shadow: 0px 4px 12px -8px rgba(0,0,0,1);
            li {
                &:hover {
                    background-color: $font-color;
                }
                float: none;
                a {
                    padding: 15px;
                    line-height: 20px;
                    &:hover {
                        color: white;
                        text-decoration: none;
                        border-bottom: none;
                    }
                    &.current {
                        border-bottom: none;
                    }
                }
            }
        }
    }
}

/* Footer */

.footer-container {
    position: absolute;
    bottom: 0;
    left: calc(((100vw - 100%) / 2) * -1);
    display: flex;
    align-items: center;
    // margin-top: $padding-1 * 2;
    width: 100vw;
    height: $nav-height;
    // border-top: 1.5px solid $light;
    footer {
        max-width: $content-width;
        margin: 0 auto;
        .social-links {
            display: flex;
            .social-link {
                display: flex;
                align-items: center;
                margin: 0 $padding-1;
            }
        }
    }
}

/* Circular Index */

.circular-index-container {
    h2 {
        text-align: center;
    }
    .thumbnail-container {
        position: relative;
        top: 0px;
        width: 200px;
        height: 200px;
        margin: 0 auto;
        border-radius: 50%;
        border: 1.5px solid black;
        box-shadow: 0px 0px 0px lightgray;
        margin-top: $padding-1;
        margin-bottom: $padding-1 * 3;
        transition: top 0.1s, 
                    box-shadow 0.1s,
                    width 0.1s, 
                    height 0.1s,
                    margin-bottom 0.1s;
        &:hover {
            top: -2px;
            box-shadow: 0px 10px 10px lightgray;
            width: 204px;
            height: 204px;
            margin-bottom: (($padding-1 * 3) - 4px);
        }
        img {
            filter: contrast(280%);
            filter: grayscale(100%);
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }
}

/* Carousel / Article Index */

.carousel-container{
        margin-bottom: $padding-1 * 2;
        .carousel-and-buttons {
            position: relative;
            .carousel {
                .carousel-cell {
                    width: 100%;
                    height: 0;
                    padding-bottom: 61.8%; /* 16:9 */
                    position: relative;
                    img {
                        position: absolute;
                        top: 0; left: 0;
                        width: 100%; 
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
            .button-container {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                width: 100%;
                height: 0;
                padding-bottom: 61.8%; /* 16:9 */
                display: flex;
                .carousel-button {
                    width: 50%;
                    padding-bottom: 61.8%; /* 16:9 */
                    &.next {
                        cursor: url('../utility/next_arrow.png'), auto;
                    }
                    &.previous {
                        cursor: url('../utility/prev_arrow.png'), auto;
                    }
                }
            }
        }
    .article-info {
        .info {
            margin-bottom: 0px;
            transition: margin-bottom 0.5s;
            &.active {
                margin-bottom: $padding-1;
            }
            p {
                line-height: 1em;
                padding: 4px 0;
            }
            padding: 10px 0;
            position: relative;
            .title {
                max-width: 50%;
                display: inline-block;
                margin-bottom: 2px;
                &:hover {
                    cursor: pointer;
                    p {
                        border-bottom: 2px solid black;
                        margin-bottom: -2px;
                    }
                }
            }
            .more {
                display: inline-flex;
                position: absolute;
                left: 50%;
                margin-bottom: 2px;
                &:hover {
                    cursor: pointer;
                    p {
                        border-bottom: 2px solid black;
                        margin-bottom: -2px;
                    }
                }
                p {
                    margin-right: 8px;
                }
                .plus {
                    &:hover {
                        cursor: pointer;
                    }
                        padding: 4px 0;
                    img {
                        height: 14px;
                        width: 14px;
                        transition: 0.5s ease-in-out;
                        &.active {
                            transform: rotate(45deg);
                        }
                    }
                }
            }
            .image-num {
                position: absolute;
                right: 0;
                top: 10px;
            }
        }
        .excerpt {
                height: 0em;
                overflow: hidden;
                transition: height 0.5s;
                line-height: $p-line-height;
                display: -webkit-box;
                -webkit-line-clamp: $excerpt-line-clamp + 5;
                -webkit-box-orient: vertical;
                &.active {
                    height: $excerpt-line-clamp + 5 * $p-line-height;
                }
            .text {
                &:hover {
                    cursor: pointer;
                }
                text-align: justify;
                line-height: $p-line-height;
                overflow: hidden;
                text-overflow: ellipsis;
                height: 0em;
                transition: height 0.5s;
                display: -webkit-box;
                -webkit-line-clamp: $excerpt-line-clamp;
                -webkit-box-orient: vertical;
                &.active {
                    height: $excerpt-line-clamp * $p-line-height;
                }
            }
            .read-more {
                a {
                    text-decoration: none;
                    p {
                        display: inline;
                        line-height: 1em;
                        padding: 4px 0;
                    }
                    &:hover {
                        cursor: pointer;
                        p {
                            border-bottom: 2px solid black;
                        }
                    }
                }
            }
        }
    }
    .article-info p {
        margin: 0;
        padding: 0;
    }
} 

@media only screen and (max-width: $breakpoint) {
    .info {
        .title {
            max-width: 75%;
        }
        .more {
            position: relative !important;
            display: flex !important;
            left: 0 !important;
        }
    }
}

.flickity-button {
    display: none;
}
.flickity-page-dots {
    display: none;
}

/* article */

.heading {
    h1 {
        line-height: 1.3em;
    }
    .date {
        color: $link-color;
        line-height: 1em;
        padding: 16px 0;
        margin: 0;
        font-size: 0.8em;
    }
    .line {
        border-bottom: 1.5px solid $link-color;
    }
}
.article-container {
    .article-text {
        text-align: justify;
        line-height: $p-line-height;
        margin-top: $padding-1 * 2;
        margin-bottom: $padding-1 * 3;
        p>img {
            margin: 16px 0;
        }
    }
    .banner {
        width: 1500px;
        position: fixed;
        top: 60px;
        left: 0;
        z-index: -3;
        .img {
            width: 100%;
            height: auto;
        }
    }
    .overlay {
        background-color: white;
        width: 1500px;
        height: 100vh;
        position: fixed;
        top: 60px;
        left: 0;
        z-index: -2;
        opacity: 0.95;
    }
}
.filtered {
    background: black;
}
.filtered img {
    mix-blend-mode: screen;
    -webkit-filter: grayscale(100%) contrast(130%);
    filter: grayscale(100%) contrast(130%);
    opacity: 1;
}

/* Comic */

.comic-container {
    margin-bottom: $padding-1 * 2;
}

/* Gallery */

#gallery-container {
    display: flex;
    flex-wrap: wrap;
}

#gallery-container img {
    padding: 0 4px;
    vertical-align: middle;
    margin-bottom: 8px;
}
#column-1 {
    img {
        padding-left: 0;
    }
}
#column-4 {
    img {
        padding-right: 0;
    }
}
.column {
    flex: 25%;
    max-width: 25%;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
  #column-2 {
      img {
          padding-right: 0;
      }
  }
  #column-3 {
      img {
          padding-left: 0;
      }
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
  #gallery-container img {
      padding: 0; 
  }
}

/* Marquee Scroll */

.marquee {
    // border: 1px solid $light;
    z-index: 1;
    background-color: #0f1219;
    color: white;
    position: fixed;
    top: 0; 
    left: 0;
    margin-top: $nav-height;
    width: 2000px;
    height: $nav-height;
    overflow: hidden;
    box-shadow: 0 0 0px rgba(0,0,0,0.4);
    transition: box-shadow 0.2s;
    &.active {
        box-shadow: 0 0 10px rgba(0,0,0,0.4);
    }
    ul {
        height: $nav-height;
        list-style: none;
        margin: 0px;
        padding: 0px;
        li {
            display: flex;
            align-items: center;
            height: 100%;
            padding-bottom: 5px;
            // font-family: $font-style; 
            font-size: $nav-height;
            white-space: nowrap;
            float: left;
        }
    }
}

/* Weird Canteen */

.zine-container {
    margin: $padding-1 * 2 auto;
    display: flex;
    width: 100%;
    .zine {
        height: 600px;
        width: calc(600px / 1.414);
        position: relative;
        perspective: 2000px;
        img {
            height: 100%; 
            // width: 100%;
        width: calc(600px / 1.414);
        }
        img, 
        .text {
            backface-visibility: hidden;
            transition: transform 2s;
        }
        &:hover img {
            transform: rotateY(180deg);
        }
        &:hover div {
            transform: rotateY(360deg);
        }
        .text {
            h1,
            h2,
            h3 {
                display: inline;
                background-color: white;
            }
            p {
                font-size: 16px;
                padding: 20px;
            }
            a {
                color: white;
                &:hover {
                    color: #0f1219;
                    background-color: white;
                }
            }
            background-color: #0f1219;
            color: white;
            position: absolute;
            top: 0;
            width: calc(600px / 1.414);
            height: 100%;
            z-index: 1;
            padding-top: 16px;

            transform: rotateY(180deg);
        }
    }
    .buy-and-description {
        width: calc(($cotent-width - (600px / 1.414)));
        padding: $padding-1 0 0 $padding-1;
        position: relative;
        flex-direction: column;
        justify-content: center;
        a {
            position: absolute;
            top: 60px;
            left: -16px;
            img {
                position: relative;
                top: 0;
                left: 0;
                transform: rotate(-19deg);
                height: 150px;
                width: 150px;
                transition: top 0.1s, 
                left 0.1s,
                width 0.1s, 
                height 0.1s;
                &:hover {
                    top: -4px;
                    left: -4px;
                    width: 158px;
                    height: 158px;
                }
            }
        }
        .description {
            margin-top: 220px;
            text-align: justify;
        }
    }
}

.zine-container-mobile {
    text-align: justify;
    display: none;
    div,
    p {
        margin: $padding-1 0;
    }
    .image {
        display: flex;
        justify-content: center;
        margin-top: 0;
        img {
            max-width: 500px;
        }
    }
}

@media only screen and (max-width: $breakpoint) {
    .zine-container {
        display: none;
    }
    .zine-container-mobile {
        display: block;
    }
} 
