<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body>
        {% include nav.html %} 
        {% if page.scroll-message %}
            {% include marquee-scroll.html %}
        {% endif %}
        <main>
            <div class="container">
                {{ content }}
            </div>
            {% include footer.html %}
        </main>
    </body>
</html>

<script>
    $(document).ready(function() {
        if ($(window).width() <= 800) {
            $('.marquee').css('display', 'none');
        } else {
            $('.marquee').css('display', 'block');
            $('main').css('padding-top', '120px');
        }
        if ('{{ page.scroll-message }}' == 'true') {
            if ($('.marquee').css('display') == 'block') {
                $('main').css('padding-top', '120px');
            } else {
                $('main').css('padding-top', '60px');
            }
        } else {
                $('main').css('padding-top', '60px');
            }
    })
</script>

<script>
    $(document).ready(function() {
        $('p img').each(function() {
            const currentSrc = $(this).attr('src');
            const newSrc = '{{ site.baseurl }}' + currentSrc;
            console.log( newSrc );
            $(this).attr('src', newSrc);
        });
        console.log( $('p img').toArray() )
    })
</script>
