---
layout: default
---

<div class="zine-container">
    <div class="zine">
        <img src="{{ site.baseurl }}{{ page.zine-image }}">
        <div class="text">
            {{ content }}
        </div>
    </div>
    <div class="buy-and-description">
        <a href="https://jadeking.bigcartel.com">
            <img src="{{ site.baseurl }}/assets/utility/price_star.png">
        </a>
        <div class="description">
            <p>
                Weird Canteen is a zine about the strange side of food. <br /> 
                <br />
                Seeking writing, comics, illustrations, poetry, photos, collage,
                interviews, reviews, recipes, problems, confessions: anything
                funny, strange or interesting. <br /> 
                <br />
                Profits go to charity.
            </p>
        </div>
    </div>
</div>

<div class="zine-container-mobile">
    <div class="image">
        <img src="{{ site.baseurl }}{{ page.zine-image }}">
    </div>
    <div class="description">
        <p>
            Weird Canteen is a zine about the strange side of food. <br /> 
            <br />
            Seeking writing, comics, illustrations, poetry, photos, collage,
            interviews, reviews, recipes, problems, confessions: anything
            funny, strange or interesting. <br /> 
            <br />
            Profits go to charity.
        </p>
    </div>
    <div class="content">
        {{ content }}
    </div>
</div>
